/* Your styles here */
.font {
    font-family: 'Montserrat', sans-serif; 
}

#logo {
    width: 130px;
    margin-top: 1.5em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    
   
}
#colore {
    background-color: black;
padding-top: 30px;
padding-bottom: 5px;
}
#h1 {
    justify-content: center;
    display: flex;
    padding-top: 4em;
    padding-bottom: 1.5em;
    color: blue;
    font-size: 35px;
}
#p1 {
    justify-content: center;
    display: flex;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    
}
#button {
    justify-content: center;
    display: flex;
    margin-bottom: 35px;
}
.sfondo { 
    justify-content: center;
    background-image: url(banner.jpg);
    background-size: cover;
    padding-bottom: 7em;
    
}
#button {
  margin-left: 210px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(253, 112, 12);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  
}

#h4 {
    justify-content: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
    color: blue;
    
}
#p2 {
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 15px;
}
#h41 {
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    color: blue;
}
#p3 {
    padding-bottom: 30px;
    margin-left: 85px;
    
}
#h42 {
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    color: blue;
}
#p4 {
    padding-bottom: 30px;
    justify-content: center;
    display: flex;
}
.maindiv {
    margin-left: 20px;
    margin-right: 20px;
    
}
#h43 {
    justify-content: center;
    display: flex;
    padding-bottom: 15px;
    color: blue;
}
#p5 {
    padding-bottom: 80px;
    padding-left: 20px;
}

.orange{
    background-color: rgb(226, 64, 15);
    padding-bottom: 40px;
    
}
    
#h2 {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
#p6 {
    padding-bottom: 30px;
    margin-left: 80px;
    margin-right: 20px;
}
#mario {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
#CEO {
    display: flex;
    justify-content: center;
    
}
#foto1 {
    margin-top: 50px;
    margin-left: 25px;
    
}
#h45{
 justify-content: center;
 display: flex;
 padding-top: 20px;
 padding-bottom: 15px;
 color: blue;
}
#p10 {
    padding-bottom: 80px;
}
#h33 {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 15px;
    color: blue;
}
#p11 {
    padding-bottom: 80px;
}
#h46 { display: flex;
    justify-content: center;
        padding-top: 20px;
    padding-bottom: 15px;
    color: blue;
}
#p12 {
    padding-bottom: 250px;
}
#notebook {  margin-top: 50px;
    margin-left: 25px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;

}
#finalh {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.info { margin-left: 70px;
    padding-bottom: 20px;
    
}
#pp {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    text-align: 
}
#lastp {
    display: flex;
    justify-content: center;
    padding-top: 40px;

}
.footer {
    background-color: rgb(34, 223, 223);
    padding-top: 150px;
    padding-bottom: 20px;
}